## This is example of .env file

## Parameters for databse
DB_NAME=made_in_kz
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432

## Parameters for parse_to_opengov.py
CKAN_URL=https://data.opengov.kz
API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJZdWhCMXZuQU5DRDVXTGd6WjZOQmNLcXV0a2RIZVZYM21JQkRQbjMtZnMwIiwiaWF0IjoxNzQ1NDk5NDU4fQ.k3H5I-4L9TH7KKJFS1URtK59dioBnDtJ9_YEShCJfsI
ORGANIZATION_ID=atameken